.wrapper { width: 100%; height: auto;  }
.container { width: 1000px; margin: auto; height: 790px; background-color: #ebebeb; padding: 10px; }
.clear { clear: both; width: 100%; height: 1px; }
.mLeft { margin-left: 20px; }
.mRight { margin-right: 20px; }
.fRight {float:right;}
.fLeft {float: left; }
body { background: url("../img/bg.png") repeat-x; color: #514e4e; font-family: 'Philosopher', sans-serif; }
h1 { font-size: 34px; margin-left: 85px;}
p { font-size: 18px; }
span.down {font-size: 22px; margin-top: 100px; text-decoration: underline;}
.box-upload { width: 100%; }
.box-download { width: 432px; height: 600px; }
.box-textovelho{ float: left; }
.box-textovelho button { float: right; margin-right: -10px;}
.box-textonovo button {float:left; }
.box-textonovo{ float: right; margin-right: 10px;}
.box-textovelho, .box-textonovo { margin-top: 20px; width: 48%; }
.box-textovelho textarea, .box-textonovo textarea { width: 100%; height: 150px; }
button { margin-top: 10px;}